@model WishList.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div class="row">
    <form asp-action="Login" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit" class="btn-submit btn">Log in</button>
    </form>
    <a asp-action="Register">Register new account</a>
</div>

